@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Elsie+Swash+Caps:wght@900&display=swap');

:root {
    /* COLORS */
    --c-dark: #0B0D17;
    --c-blue-light: #D0D6F9;
    --c-white: #FFFFFF;

    /* TYPOGRAPHY */
    --f-size-1: 150px;
    --f-size-2: 100px;
    --f-size-3: 56px;
    --f-size-4: 32px;
    --f-size-5: 28px;
    --f-size-6: 16px;
    --f-size-7: 14px;

    --f-family-bellefair: 'Bellefair', sans-serif;
    --f-family-barlow: 'Barlow Condensed', sans-serif;
}
