@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root {
    /* COLORS */
    --c-dark: #0B0D17;
    --c-blue-light: #D0D6F9;
    --c-white: #FFF;
    /* TYPOGRAPHY */
    --font-sz-1: 150px;
    --font-sz-2: 100px;
    --font-sz-3: 56px;
    --font-sz-4: 32px;
    --font-sz-5: 28px;
    --font-sz-6: 16px;
    --font-sz-7: 14px;
    --font-fm-bellefair: 'Bellefair';
    --font-fm-barlow: 'Barlow Condensed', sans-serif;
}

body {
    font-size: 18px;
    font-family: var(--font-fm-barlow);
    color: var(--c-white);
}

/* ANIMAÇÕES KEYFRAMES */
@keyframes planetGira {
	0% {
        transform: scale(1);
	}
    50% {
        transform: scale(1.03);
    }
    75% {
        transform: scale(1.1);
	}
    100% {
        transform: scale(1);
	} 
}


/* NAVBAR HEADER */
header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 40px;
    width: 100%;
    height: 96px;
    margin-left: 55px;
    padding-right: 55px;
}

.logo-container, .nav-group-destination li {
    position: relative;
}

.risk-header {
    width: 473px;
    height: 1px;
    position: absolute;
    left: 108px;
    background-color: white;
    opacity: 25.15%;
    z-index: 100;
}

.navbar-container {
    height: 100%;
    width: 830px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.04);
}

.navbar-wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    gap: 37px;
}

.navbar-wrapper li {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 100%;
}

/* TRAÇO EMBAIXO DO NAVEGAÇÃO */
.navbar-wrapper a::after, .nav-group-destination a::after {
    content: '';
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    left: 0px;
    transition: all 300ms ease-out;
    transform: scale(0, 1);
    transform-origin: center;
    background-color: var(--c-white);
    opacity: 20%;
}

/* HOVER PARA MOSTAR QUAL ABA ESTÁ PASSANDO O MOUSE */
.navbar-wrapper a:hover::after, .nav-group-destination a:hover::after {
    transform: scale(1, 1);
}

/* DEIXA ATIVADO A ABA DE NAVEGAÇÃO */
.active::after {
    transform: scale(1, 1) !important;
    opacity: 1 !important;
}

.navbar-link, .nav-link-destination {
    font-size: var(--font-sz-6);
    font-family: var(--font-fm-barlow);
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: var(--c-white);
    cursor: pointer;
    padding: 15px;
}

.nav-link-destination {
    color: var(--c-blue-light);
}

.navbar-link .st-link {
    display: inline-block;
    font-weight: bold;
    margin-right: 12px;
}

.bg-home, .bg-destination, .bg-crew  {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/images/home/background-home-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-destination {
    background-image: url(/assets/images/destination/background-destination-desktop.jpg);
}

.bg-crew {
    background-image: url(/assets/images/crew/background-crew-desktop.jpg);
}

/* Section Space */
.space-section {
    height: 350px;
    max-width: 580px;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.space-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.space-wrapper h1, .destination-items-title {
    font-size: var(--font-sz-1);
    font-family: var(--font-fm-bellefair);
    text-transform: uppercase;
}

.destination-items-title {
    font-size: var(--font-sz-2);
    margin: 30px 0;
}

.space-wrapper h2 {
    font-size: var(--font-sz-5);
    text-transform: uppercase;
    color: var(--c-blue-light);
}

.space-wrapper p, .destination-items-description {
    font-weight: normal;
    line-height: 1.5;
    word-wrap: break-word;
    color: var(--c-blue-light);
}


/* Circle Explore Home */
.circle-explore {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    background-color: var(--c-white);
    cursor: pointer;
}

.circle-explore:active {
   box-shadow: 0px 0px 0px 60px rgba(255, 255, 255, 0.1);
   transition: all 0.15s;
}

.circle-explore a {
    padding: 50px 30px;
}

.circle-explore h2 {
    font-size: var(--font-sz-4);
    font-family: var(--font-fm-bellefair);
    color: var(--c-dark);
    text-transform: uppercase;
}

/* PAGE Destination */
.destination-container {
    width: 100%;
    height: 100%;
    padding: 20% 10% 0px;
}

.destination-container h3 {
    font-size: var(--font-sz-5);
    letter-spacing: 0.325rem;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.destination-container h3 span {
    margin-right: 30px;
    opacity: 25%;
}

.destination-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 445px);
    gap: 160px;
    padding-left: 65px;
}

.destination-aside-img img {
    display: block;
    width: 100%;
    height: auto;
    object-position: center;
    object-fit: cover;
    animation: planetGira 10s linear infinite;
}

.destination-aside {
    display: flex;
    flex-direction: column;
}

.nav-group-destination {
    display: inline-flex;
    height: 35px;
    gap: 38px;
}

.destination-aside-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;   
    overflow: hidden;
    gap: 30px;
}

.destination-aside-items .risk-header {
    position: relative;
    width: 100%;
    margin: 40px 0 20px;
    left: 0px;
}

.destination-aside-card {
    
}

.destination-info-container {
    display: flex;
    gap: 80px;
}

.destination-info-items span {
    font-size: var(--font-sz-7);
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: var(--c-blue-light);
}

.destination-info-items p {
    font-size: var(--font-sz-5);
    font-family: var(--font-fm-bellefair);
    text-transform: uppercase;
    margin-top: 10px;
    color: var(--c-white);
}

.destination-items-description {
    width: 445px;
}

